@media (max-width: 767px) {

    .header {

        &__box::before {
            content: "";
            background-image: url(./image/star-phone-grin2.svg);
            position: absolute;
            left: 10%;
            top: 97px;
            width: 35px;
            height: 35px;
            background-repeat: no-repeat;
        }

        &__box::after {
            content: "";
            background-image: url(./image/star-phone3.svg);
            position: absolute;
            left: 24.6%;
            top: 64px;
            width: 35px;
            height: 35px;
            background-repeat: no-repeat;
        }

        &__text {
            padding-top: 24px;
            width: 100%;
            line-height: 20px;
        }

        &__spc {
            white-space: nowrap;
        }

        &__btn {
            margin-top: 36px;
            margin-left: calc(50% - 140px);
            margin-right: calc(50% - 140px);
        }

        &__star-big {
            display: block;
            min-width: 223px;
            left: 50%;
            top: -104px;            
        }

        &__imgBig {
            display: none;
        }

        &__star-big-phone {
            display: block;
            object-fit: cover;
        }

    }

    .header::before {
        content: "";
        background-image: url(./image/star-phone2.svg);
        position: absolute;
        left: 80.8%;
        top: 581px;
        width: 39px;
        height: 41px;
        background-repeat: no-repeat;
    }

    .header::after {
        content: "";
        background-image: url(./image/star-phone-grin3.svg);
        position: absolute;
        left: 72.7%;
        top: 557px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
    }

    .for {
        padding-top: 48px;
        padding-bottom: 12px;

        &__box {
            display: flex;
            flex-direction: column;
            gap: 22px;
        }

        &__box::before {
            display: none;
        }

        &__box::after {
            display: none;
        }

        &__title {
            font-size: 40px;
            padding-bottom: 26px;
        }

        &__card {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            padding-bottom: 32px;
            max-height: fit-content;
        }

        &__content {
            padding-left: 29px;

            &_item1 {
                order: 2;
            }

            &_rew {
                margin-top: 4px;
            }
        }

        &__subtitle {
            margin-top: 32px;
            font-size: 32px;
            margin-bottom: 14px;
            line-height: 39px;
            max-width: 284px;

            &_dopmrgn {
                margin-top: 30px;
            }
        }

        &__text {
            line-height: 20px;
            margin-top: 0;            

            &_spc-phone {
                white-space: nowrap;
            }
        }

        &__btn {
            margin-top: 32px;
            width: 285px;
            height: 55px;
            font-size: 16px;

        }

        &__img {

            &_item2 {
                order: 1;
            }
        }
    }

    .for::before {
        display: none;
    }

    .for::after {
        display: none;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;

        &__cntnt {
            font-size: 16px;
        }
    }

}