@media (max-width: 1090px) {
    .top-games {
        display: none;
    }
}

@media (max-width: 1240px) {
    .for {

        &__subtitle {
            font-size: 28px;
        }

        &__text-spn {
            font-size: 16px;

        }

        &__text-spc {
            font-size: 16px;
        }

        &__text-spc1 {
            font-size: 16px;
        }
    }
}

@media (max-width: 1023px) {

    .header {

        &__titl {
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }

        &__text {
            text-align: center;
            font-size: 22px;
            width: auto;
        }

        &__btn {
            margin-top: 34px;
            margin-left: calc(50% - 143px);
            margin-right: calc(50% - 143px);
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
        }

        &__anim-strip {
            margin-top: 132px;
            height: 51px;
        }

        &__anim-strip-item {
            font-size: 22px;
        }

        &__anim-strip-icon {
            width: 22px;
            height: 22px;
        }

        &__star-big {
            display: none;
        }
    }

    .header::before {
        left: 90%;
        top: 423px;
    }

    .header::after {
        left: 82%;
        top: 445px;
    }

    .for {
        width: 100%;

        &__box::before {
            left: 89%;
            top: 52px;
        }

        &__box::after {
            left: 92%;
            top: 70px;
        }

        &__card {
            min-width: 0;
        }

        &__subtitle {
            margin-top: 16px;
            // font-size: 36px;
            // line-height: 30px;
        }

        &__text {
            margin-top: 16px;
            font-size: 16px;
        }

        &__btn {
            margin-top: 16px;
            margin-bottom: 0;
        }

    }

    .for::before {
        left: 86.7%;
        top: 97.6%;
    }

    .for::after {
        left: 89.5%;
        top: 96.2%;
        width: 69px;
    }
}

@media (max-width: 974px) {

    button {
        font-size: 18px;
    }

    .for {

        &__subtitle {
            font-size: 28px;
        }

        &__text {
            overflow-wrap: break-word;
        }

        &__text-spn {
            font-size: 16px;

        }

        &__text-spc {
            font-size: 16px;
        }

        &__text-spc1 {
            font-size: 16px;
        }

        &__btn {
            margin-top: 28px;
            width: 200px;
            height: 35px;
        }
    }
}

@media (min-width: 1441px) {
    .header__box {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}