@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial";
  box-sizing: border-box;
}

a {
  all: unset;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

button {
  border-radius: 60px;
  border: 1px solid #202027;
  background-color: #202027;
  color: #ffffff;
  transition: background-color 1s ease-in-out;
  font-size: 24px;
  font-weight: 600;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  width: 100%;
  background-color: #E1FF8F;
  position: relative;
  z-index: 1;
}
.header__box {
  position: relative;
}
.header__box::before {
  content: "";
  background-image: url(./image/star-grin2.svg);
  position: absolute;
  left: 4.4%;
  top: 94px;
  width: 57px;
  height: 57px;
}
.header__box::after {
  content: "";
  background-image: url(./image/star-3.svg);
  position: absolute;
  left: 10.8%;
  top: 69px;
  width: 35px;
  height: 35px;
}
.header__content {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  padding-top: 196px;
}
.header__titl {
  color: #202027;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.header__text {
  width: 720px;
  padding-top: 24px;
  font-size: 24px;
  color: #202027;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.header__text-smbld {
  padding-top: 24px;
  font-size: 24px;
  color: #202027;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
}
.header__btn {
  margin-top: 48px;
  width: 247px;
  height: 66px;
}
.header__star-big {
  position: absolute;
  left: 59.3%;
  top: -333px;
  z-index: 2;
  max-width: 586px;
  overflow: hidden;
  margin-right: 0;
}
.header__imgBig {
  -o-object-fit: cover;
     object-fit: cover;
}
.header__anim-strip {
  margin-top: 156px;
  background-color: #BCEC30;
  padding: 0;
  position: relative;
  z-index: 3;
  height: 90px;
  /*удалить пример высоты полосы анимации*/
}
.header__titl-phone {
  display: none;
}

.header::before {
  content: "";
  background-image: url(./image/star-grin3.svg);
  position: absolute;
  left: 65.8%;
  top: 538px;
  width: 37px;
  height: 37px;
}

.header::after {
  content: "";
  background-image: url(./image/star-2.svg);
  position: absolute;
  left: 70.3%;
  top: 568px;
  width: 83px;
  height: 83px;
}

.top-games {
  background-color: #202027;
  position: relative;
  z-index: 1;
}
.top-games__titl {
  padding-top: 94px;
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
}
.top-games__text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.top-games__titl-phone {
  display: none;
}
.top-games__img-big {
  position: absolute;
  left: 64.9%;
  top: 77px;
  z-index: 2;
  max-width: 505px;
  overflow: hidden;
}
.top-games__box {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.top-games__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.top-games__card {
  max-width: 378px;
  border: none;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.top-games__card_1-3 {
  max-height: 473px;
}
.top-games__card_2-5 {
  max-height: 512px;
}
.top-games__card_4-6 {
  max-height: 551px;
}
.top-games__card:hover {
  transform: scale(1.05);
}
.top-games__img {
  border-radius: 30px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.top-games__nmbr {
  margin-top: 28px;
  margin-left: 32px;
  width: 108px;
  height: 36px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  align-content: center;
  text-align: center;
}
.top-games__ttl-card {
  margin-top: 16px;
  margin-left: 32px;
  font-size: 32px;
  font-weight: 700;
}
.top-games__ttl-card_1rw {
  padding-bottom: 36px;
}
.top-games__ttl-card_2rw {
  margin-top: 0;
  padding-bottom: 36px;
}
.top-games__ttl-card_3rw {
  margin-top: 0;
  padding-bottom: 0;
}

.top-games::before {
  content: "";
  background-image: url(./image/star-top3.svg);
  position: absolute;
  left: 1.7%;
  top: 770px;
  width: 31px;
  height: 31px;
}

.top-games::after {
  content: "";
  background-image: url(./image/star-top2.svg);
  position: absolute;
  left: 2.7%;
  top: 822px;
  width: 55px;
  height: 55px;
}

.for {
  padding-top: 96px;
  padding-bottom: 144px;
  background-color: #202027;
  position: relative;
}
.for__box {
  position: relative;
}
.for__box::before {
  content: "";
  background-image: url(./image/star-top3.svg);
  position: absolute;
  left: 96.7%;
  top: 48px;
  width: 35px;
  height: 35px;
}
.for__box::after {
  content: "";
  background-image: url(./image/star-for2.svg);
  position: absolute;
  left: 100%;
  top: 80px;
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
}
.for__title {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 40px;
}
.for__card {
  max-height: 500px;
  margin-top: 32px;
  border: none;
  background-color: #ffffff;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.for__content {
  grid-column: 1/7;
  padding-left: 48px;
}
.for__content_rew {
  grid-column: 7/13;
}
.for__subtitle {
  margin-top: 48px;
  font-size: 48px;
  font-weight: 700;
}
.for__subtitle_spc {
  white-space: nowrap;
}
.for__text {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 400;
  max-width: 497px;
  line-height: 32px;
}
.for__text_spc {
  white-space: nowrap;
}
.for__btn {
  margin-top: 36px;
  margin-bottom: 207px;
  width: 247px;
  height: 66px;
  color: #ffffff;
  background-color: #202027;
  border-radius: 60px;
}
.for__img {
  grid-column: 7/13;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.for__img_rew {
  grid-column: 1/7;
}

.for::before {
  content: "";
  background-image: url(./image/star-top3.svg);
  position: absolute;
  left: 86.7%;
  top: 97.6%;
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: cover;
}

.for::after {
  content: "";
  background-image: url(./image/star-for2.svg);
  position: absolute;
  left: 91.5%;
  top: 96.2%;
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #BDED35;
}
.footer__cntnt {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1024px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__content {
    padding-top: 147px;
  }
  .header__titl {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .header__text {
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .header__text-smbld {
    padding-top: 24px;
    font-size: 16px;
    line-height: 20px;
  }
  .header__btn {
    margin-top: 34px;
    margin-left: calc(50% - 143px);
    margin-right: calc(50% - 143px);
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
  }
  .header__imgBig {
    display: none;
  }
  .header__anim-strip {
    margin-top: 131px;
    height: 51px;
  }
  .header__star-big {
    display: none;
  }
  .header::before {
    left: 90%;
    top: 423px;
  }
  .header::after {
    left: 82%;
    top: 445px;
  }
  .top-games {
    display: none;
  }
  .for__box::before {
    left: 89%;
    top: 52px;
  }
  .for__box::after {
    left: 92%;
    top: 70px;
  }
  .for__subtitle {
    margin-top: 16px;
    font-size: 36px;
    line-height: 24px;
  }
  .for__text {
    margin-top: 16px;
    font-size: 16px;
  }
  .for__btn {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .for::before {
    left: 86.7%;
    top: 97.6%;
  }
  .for::after {
    left: 89.5%;
    top: 96.2%;
    width: 69px;
  }
}
@media (max-width: 767px) {
  .header__box::before {
    content: "";
    background-image: url(./image/star-phone-grin2.svg);
    position: absolute;
    left: 10%;
    top: 97px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
  }
  .header__box::after {
    content: "";
    background-image: url(./image/star-phone3.svg);
    position: absolute;
    left: 24.6%;
    top: 64px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
  }
  .header__text {
    padding-top: 24px;
    width: 100%;
    line-height: 20px;
  }
  .header__spc {
    white-space: nowrap;
  }
  .header__btn {
    margin-top: 36px;
    margin-left: calc(50% - 140px);
    margin-right: calc(50% - 140px);
  }
  .header__star-big {
    display: block;
    min-width: 223px;
    left: 50%;
    top: -104px;
  }
  .header__imgBig {
    display: none;
  }
  .header__star-big-phone {
    display: block;
  }
  .header::before {
    content: "";
    background-image: url(./image/star-phone2.svg);
    position: absolute;
    left: 80.8%;
    top: 581px;
    width: 39px;
    height: 41px;
    background-repeat: no-repeat;
  }
  .header::after {
    content: "";
    background-image: url(./image/star-phone-grin3.svg);
    position: absolute;
    left: 72.7%;
    top: 557px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
  }
  .for {
    padding-top: 48px;
    padding-bottom: 6px;
  }
  .for__box {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .for__box::before {
    display: none;
  }
  .for__box::after {
    display: none;
  }
  .for__title {
    font-size: 40px;
    padding-bottom: 26px;
  }
  .for__card {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 32px;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .for__content {
    padding-left: 29px;
  }
  .for__content_item1 {
    order: 2;
  }
  .for__content_rew {
    margin-top: 4px;
  }
  .for__subtitle {
    margin-top: 32px;
    font-size: 32px;
    margin-bottom: 14px;
    line-height: 39px;
    max-width: 284px;
  }
  .for__text {
    line-height: 20px;
    margin-top: 0;
  }
  .for__btn {
    margin-top: 32px;
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .for__img_item2 {
    order: 1;
  }
  .for::before {
    display: none;
  }
  .for::after {
    display: none;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__cntnt {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */